*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.cardHighlight{
  min-height: 100%;
}

#nav{
  background-color: #606c62;
  color: white;
}

#tablecolor{
  background-color: #959688;
  color: white;
}